body {
  background: rgb(242, 242, 242);
  font-family: Arial, Helvetica, sans-serif;
}

.instructions{
  padding:10px;
}

/* Conversion Types List */

.type-select{
  display: block;
  padding: .5rem 1rem;
}

.type-select:hover{
  border-style: solid;
  border-width: 1px 1px 0px 1px;
  border-color: #b3b3b3 #b3b3b3 #fff;
}

.active-type{
  border-style: solid;
  border-width: 1px 1px 0px 1px;
  border-color: #020000 #000000 #fff;
}

.conversionTypesList{
  border-bottom: 1px solid #dee2e6;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

a.type-select-action {
  text-decoration: none;
  color:black
}

/* Instructions */

details[open]{
  background-color: white;
  border-style: dashed;
}

details[open] ul{
  margin-right: 10px;
}

details[open] ul li:last-child{
  padding-bottom: 10px;
}

.appheading{
  text-align: center;
}


@media only screen and (min-width: 750px) {
  .instructions{
    position: fixed;
    top:0;
    left:0;
    z-index: 1;
  }
}




/* The text conversion box */

.textrepresentation{
  height: 100%;
  width:100%;
  white-space: pre-wrap;
  background-color: #fdfdfd;
}

/*
Custom header styles for default items
 */

.headerWrapper{
  width:100%;
}
.customHeaderTop{
  display: flex;
}

.customSort{
  display: flex;
  flex: 0;
}
.customHeaderMenuButton {
  flex:0;
  margin: 0 3px 0 3px;
}

.customHeaderLabel{
  flex:3;
  text-align: center;
}

.customSortDownLabel {
  margin: 0 0 0 3px;
}

.customSortUpLabel {
  margin: 0;
}

.customSortRemoveLabel {
  margin: 0 0 0 3px;
  font-size: 11px;
}

.active {
  color: cornflowerblue;
}

/* The grid heading control buttons */
.headerbuttons{
  text-align: center;
  color: #0019fd;
}
